.akis {
  position: relative;
  width: 100%;
  display: flex;

  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}
.gunmain {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gun2 {
  display: flex;
  width: 60px;
  height: 500px;
  border-radius: 0 0 20px 20px;
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.gun2 i {
  font-size: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.etkinlikmain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.etkinlik {
  width: 300px;
  color: white;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  font-size: 15px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 20px;
  animation: boxshadow 2s infinite ease-in-out;
}
.guns {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  background-color: black;
  animation: boxshadow 4s infinite ease-in;
}
.left {
  flex-direction: row-reverse;
  box-shadow: -20px 0px 20px 0px #00ff25;
  animation: yoffsetleft 2s infinite ease-in;
}
.right {
  box-shadow: 20px 0px 20px 0px #00ff25;
  animation: yoffsetright 2s infinite ease-in;
}
.butondiv{
    margin-bottom: 40px;
    z-index: 1;
    width: auto;
    display: flex;
    justify-content: flex-end;
    transition: 0.3s;
    
}
.gun1buton{
    transform: translateY(-10px);
}
.butondiv button{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    background-color: black;
    transition: 0.3s;
    width: 100px;
}
.butondiv button:hover{
    color: #00ff25;
}
@keyframes yoffsetleft {
  0% {
    box-shadow: -20px 0px 20px 0px #00ff25;
  }
  10% {
    box-shadow: -20px 2px 20px 0px #00ff25;
  }
  20% {
    box-shadow: -20px 4px 20px 0px #00ff25;
  }
  30% {
    box-shadow: -20px 6px 20px 0px #00ff25;
  }
  40% {
    box-shadow: -20px 8px 20px 0px #00ff25;
  }
  50% {
    box-shadow: -20px 10px 20px 0px #00ff25;
  }
  60% {
    box-shadow: -20px 8px 20px 0px #00ff25;
  }
  70% {
    box-shadow: -20px 6px 20px 0px #00ff25;
  }
  80% {
    box-shadow: -20px 4px 20px 0px #00ff25;
  }
  90% {
    box-shadow: -20px 2px 20px 0px #00ff25;
  }
  100% {
    box-shadow: -20px 0px 20px 0px #00ff25;
  }
}
@keyframes yoffsetright {
  0% {
    box-shadow: 20px 0px 20px 0px #00ff25;
  }
  10% {
    box-shadow: 20px 2px 20px 0px #00ff25;
  }
  20% {
    box-shadow: 20px 4px 20px 0px #00ff25;
  }
  30% {
    box-shadow: 20px 6px 20px 0px #00ff25;
  }
  40% {
    box-shadow: 20px 8px 20px 0px #00ff25;
  }
  50% {
    box-shadow: 20px 10px 20px 0px #00ff25;
  }
  60% {
    box-shadow: 20px 8px 20px 0px #00ff25;
  }
  70% {
    box-shadow: 20px 6px 20px 0px #00ff25;
  }
  80% {
    box-shadow: 20px 4px 20px 0px #00ff25;
  }
  90% {
    box-shadow: 20px 2px 20px 0px #00ff25;
  }
  100% {
    box-shadow: 20px 0px 20px 0px #00ff25;
  }
}
.etkinlikh2{
  font-size: 25px;
}