.ekip{
    z-index: 1;
    flex-direction: row;
    align-items: center;
    margin-top: 75px;
}
.ekip div{
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
}
.slick-initialized .slick-slide {

    display: flex;
    justify-content: center;
}
.slick-slide img {
    width: 350px;
    border-radius: 20px;
    animation: boxshadow 2s infinite ease-in-out;
    transition: 0.3s;
}
.ekipicon:hover{
    opacity: 1;
    background-color: rgb(0, 0, 0,00.3);
  
}


@keyframes boxshadow {
    0%  { box-shadow: 0px 0px 20px 0px #00ff25 ;}
    10%  { box-shadow: 0px 0px 17px 0px #00ff25 ;}
    25%  { box-shadow: 0px 0px 14px 0px #00ff25 ; }
    50%  { box-shadow: 0px 6px 11px 0px #00ff25 ; }
    65%  { box-shadow: 0px 6px 14px 0px #00ff25 ; }
    90%  { box-shadow: 0px 0px 17px 0px #00ff25 ; }
    100% { box-shadow: 0px 0px 20px 0px #00ff25 ; }
  }
.slick-arrow{
    border-radius: 50%;
    min-width: 60px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 50px;
    font-weight: bold;
    background-color: rgb(0, 255, 37,0.5);
    cursor: pointer;
    color: white;
    border: none;
    transition: 0.3s;
  /*  content-visibility: hidden;*/
}
.ekipicon{
    position: absolute;
    width: 350px;
    height: 350px;
    opacity: 0;
    transition: 0.3s;  
    border-radius: 20px;
    
}
.ekiptext{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ekipisim{
    margin: 5px;
}
.ekipunvan{
    margin: 5px;
    font-size: 1em;
}
.ekipicon2{
   position: absolute;
   width: 350px;
   height: 350px;
   transition: 0.3;
}
.ekipicon i{
    position: absolute;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
    transform: rotate(-45deg);
}
.ekipicon i:hover{
    color: #00ff25;
   transform: rotate(-60deg);
}
.fa-instagram{
    top: 105px;
    left: 105px;
}
.fa-twitter{
    top: 105px;
    right: 105px;
}
.fa-linkedin{
    left: 105px;
    bottom: 105px;
}
.fa-github{
    right: 105px;
    bottom: 105px;
}
.slick-arrow:hover{
    color:rgb(0, 255, 37,0.5);
    background-color: rgb(255, 255, 255,0.5);
}

