.footera a {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  transition: 0.3s;
}
.footera a:hover{
    color: #00ff25;
}
.footera {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.designanddevelop{
    margin-left: 20px;
}
.designanddevelop p a{
    color: #00ff25;
}
.footer {
  display: flex;
  background-color: rgb(0, 0, 0,0.5);
  z-index: 1;
  position: relative;
  color: white;
  justify-content: space-between;
  align-items: center;
}
