.konusmacilarimizdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

}
h2{
    font-size: 40px;
    color: white;
    z-index: 1;
}
.konusmacilarimizmain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
}
.konusmacilarimizimg {
  width: 400px;
}
.konusmacilarimizimgtext {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;

  padding: 20px;
  border-radius: 20px;
}
.button {
  width: 100px;
  background-color: white;
  z-index: 1;
  color: white;
  background: rgb(0, 255, 37,0.5);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 40px;
  transition: 0.3s;
}
.button:hover{
    color: rgb(0, 255, 37,0.5);
    background-color: rgb(255, 255, 255,0.5);
}
.konusmacilarimiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px
}
.konusmacilarimizexplain{
    margin-top: 0px;
}
.konusmacilarimizname{
    margin-bottom: 5px;
}
