.navbarmain {
    position: fixed;
    width: 100%;
    transition: 0.3s;
    box-shadow: none;
    z-index: 2;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    background-color: black;
    transition: 0.7s;
  }
  .navbarmain:hover {
    box-shadow: 5px 5px 5px 5px rgb(0, 255, 37, 0.3);
  }
  
  .navbar div {
    display: flex;
    flex-direction: row;
  }
  .navbarli {
    list-style: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    transition: 0.3s;
    font-size: 17px;
  }
  .navbarli:hover {
    color: #00ff25;
    
  }
  .navbarimg {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    opacity: 1;
    list-style: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    transition: 0.3s;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    z-index: 2;
  }
  .zirvenavbarimg {
    position: absolute;
    width: 100px;
    transition: 1.5s;
    animation: fade_text 4s infinite ease-in;
  }