.zirvedivimg{
    width: 500px;
    
    transition: 0.3s;
    height: auto;
}
.zirveimg{
  width: 100%;
  height: 100%;
 transition: 0.5s;
 border: 3px solid white;
    border-radius: 10px;
}
.zirvediv{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    padding-top: 130px;
}
.zirvetext{
    width: 30%;
    margin-left: 15vh;
    background: rgb(0,0,0,0.19);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zirvep{
    margin-left: 20px;
    margin-right: 20px;
}
.zirvetitle{
    margin-left: 20px;
    margin-right: 20px;
}